/* 回到顶部按钮样式 */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;  /* 确保背景透明 */
    border: none;                   /* 去掉边框 */
    padding: 0;                     /* 不需要额外的内边距 */
    cursor: pointer;               /* 鼠标悬停时显示手形指针 */
    display: none;                  /* 默认隐藏 */
    opacity: 1;                     /* 确保不透明 */
    transition: none;               /* 禁用过渡效果 */
}

/* 设置图片样式 */
.back-to-top img {
    width: 40px;  /* 设置图标的宽度 */
    height: 40px; /* 设置图标的高度 */
    transition: none;  /* 禁用悬停时的图像过渡效果 */
}

/* 防止悬停时改变样式 */
.back-to-top:hover {
    opacity: 1;    /* 确保鼠标悬停时图片不改变透明度 */
    background-color: transparent; /* 确保背景不改变 */
}

/* 鼠标悬停时图片不变色 */
.back-to-top img:hover {
    filter: none;  /* 确保悬停时图片没有任何滤镜效果 */
}
