.post-categories
  margin: 5px 0
  display: flex
  flex-flow: row wrap
  align-items: center
  
  .post-category
    display: inline-block
    text-decoration: none
    color: #8a8a8a
    margin-right: 5px
    padding: 0 5px

    &:hover
      color: #555555
