if is_post()
  #tool-bar
    #tool-bar-main
      //- TOC switch
      if theme.toc.enable && !(undefined != page.toc && !page.toc)
        #toc-toggle( onclick= "tocToggle()", title= __('menu.toc') )
          i.fa-solid.fa-list-ul

      //- increase or decrease font size of post
      if theme.tool_bar.setting_font_size
        #font-size-increase( onclick= "fontSizeIncrease()", title= __('menu.font_size_increase') )
          i.fa-solid.fa-plus
        #font-size-decrease( onclick= "fontSizeDecrease()", title= __('menu.font_size_decrease') )
          i.fa-solid.fa-minus

      //- back to top button
      #back-to-top( onclick= "scrollToTop()", title= __('navigation.back_to_top') )
        i.fa-solid.fa-chevron-up
